{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!--[ daily sales section ] start-->

                        <!--[social-media section] end-->
                        <div class="col-xl-7">
                            <div class="card daily-sales">
                                <div class="card-block">
                                    <div class="chart-container">
                                        <script src="/static/assets/js/Chart.js-2.9.4/dist/Chart.min.js"></script>
                                        <script src="/static/assets/js/Chart.js-2.9.4/samples/utils.js"></script>
                                    <canvas id="canvas1" width="300px"></canvas>
                                </div>
<!--                                <button id="randomizeData">Randomize Data</button>-->
                                <script>
                                    var chartData = {
                                        labels: [{% for item in labels1 %}
                                                   "{{item}}",
                                                  {% endfor %}],
                                        datasets: [{
                                            type: 'line',
                                            label: 'Overlap',
                                            borderColor: window.chartColors.blue,
                                            borderWidth: 2,
                                            fill: false,
                                            data: [
                                                {% for item in diff %}
                                                      {{item}},
                                                    {% endfor %}
                                            ]
                                        },
                                        {
                                            type: 'bar',
                                            label: 'Speaker A',
                                            backgroundColor: window.chartColors.red,
                                            data: [
                                                {% for item in speak_A %}
                                                                  {{item}},
                                                                {% endfor %}
                                            ]
                                        },
                                         {
                                            type: 'bar',
                                            label: 'Speaker B',
                                            backgroundColor: window.chartColors.blue,
                                            data: [
                                                {% for item in speak_B %}
                                                                  {{item}},
                                                                {% endfor %}
                                            ]
                                        }
                                        ]

                                    };

                                        var ctx = document.getElementById('canvas1').getContext('2d');
                                        myMixedChart = new Chart(ctx, {
                                            type: 'bar',
                                            data: chartData,
                                            options: {
                                                responsive: true,
                                                title: {
                                                    display: true,
                                                    text: 'Overall Call Summary'
                                                },
                                                tooltips: {
                                                    mode: 'index',
                                                    intersect: true
                                                },
                                                    scales : {
                                                        xAxes : [ {
                                                            gridLines : {
                                                                display : false
                                                            },
                                                            stacked: false
                                                        } ],
                                                        yAxes : [{
                                                            gridLines: { display : false },
                                                            stacked: false,

                                                            }]
                                                        }
                                            }
                                        });


                                    document.getElementById('randomizeData').addEventListener('click', function() {
                                        chartData.datasets.forEach(function(dataset) {
                                            dataset.data = dataset.data.map(function() {
                                                return randomScalingFactor();
                                            });
                                        });
                                       myMixedChart.update();
                                    });
                                </script>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                    <div class="col-xl-7">
                            <div class="card daily-sales">
                                <div class="card-block">
                                    <div class="chart-container">
                                        <script src="/static/assets/js/Chart.js-2.9.4/dist/Chart.min.js"></script>
                                        <script src="/static/assets/js/Chart.js-2.9.4/samples/utils.js"></script>
                                    <canvas id="canvas2" width="300px"></canvas>
                                </div>
<!--                                <button id="randomizeData1">Randomize Data</button>-->
                                <script>
                                   var chartData1 = {
                                        labels: [10,20,30,40,50,60,70],
                                        datasets: [{
                                            type: 'line',
                                            label: 'Overlap',
                                            borderColor: window.chartColors.blue,
                                            borderWidth: 2,
                                            fill: false,
                                            data: []
                                        },
                                        {
                                            type: 'bar',
                                            label: 'Speaker A',
                                            backgroundColor: window.chartColors.red,
                                            data: [1,3,5,7,9,12,18,17]
                                        },
                                         {
                                            type: 'bar',
                                            label: 'Speaker B',
                                            backgroundColor: window.chartColors.blue,
                                            data: [2,4,6,8,10,11,14,16,20]
                                        }
                                        ]

                                    };
                                    window.onload = function() {
                                        var ctx = document.getElementById('canvas2').getContext('2d');
                                        window.myMixedChart = new Chart(ctx, {
                                            type: 'bar',
                                            data: chartData1,
                                            options: {
                                                responsive: true,
                                                title: {
                                                    display: true,
                                                    text: 'Overall Call Summary'
                                                },
                                                tooltips: {
                                                    mode: 'index',
                                                    intersect: true
                                                },
                                                    scales : {
                                                        xAxes : [ {
                                                            gridLines : {
                                                                display : false
                                                            },
                                                            stacked: false
                                                        } ],
                                                        yAxes : [{
                                                            gridLines: { display : false },
                                                            stacked: false,

                                                            }]
                                                        }
                                            }
                                        });
                                    };

                                    document.getElementById('randomizeData').addEventListener('click', function() {
                                        chartData.datasets.forEach(function(dataset) {
                                            dataset.data = dataset.data.map(function() {
                                                return randomScalingFactor();
                                            });
                                        });
                                        window.myMixedChart.update();
                                    });
                                </script>
                                </div>
                            </div>
                        </div>

                    <div class="col-xl-6">
                            <div class="card Monthly-sales">
                                <div class="card-block">
                                    <h6 class="mb-4">Emotion Detection</h6>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-9">
                                           <canvas id="donut-chart1" style="height:195px;margin-left:0px;margin-right:0px;"></canvas>
                                                    <script>
                                                    // get chart canvas
                                                      var ctx = document.getElementById("donut-chart1");

                                                      var myChart = new Chart(ctx, {
                                                                  type: 'doughnut',

                                                                  data: {

                                                                    labels: ['Happy', 'Sad', 'Angry','Neutral'],
                                                                    datasets: [{
                                                                      label: ['Happy', 'Sad', 'Angry','Neutral'],
                                                                      data: [10 ,20,30,40],
                                                                      backgroundColor: [
                                                                        '#F47A2F',
                                                                        '#F13C60',
                                                                        '#003F5A'
                                                                      ],
                                                                      borderColor: [
                                                                        '#F47A1F',
                                                                        '#F13C5',
                                                                        '#003F5C'
                                                                      ],
                                                                      borderWidth: 1
                                                                    },
                                                                    {
                                                                      label: ['Happy', 'Sad', 'Angry','Neutral'],
                                                                      data: [20 ,25,35,45],
                                                                      backgroundColor: [
                                                                        '#F47A2F',
                                                                        '#F13C60',
                                                                        '#003F5A'
                                                                      ],
                                                                      borderColor: [
                                                                        '#F47A1F',
                                                                        '#F13C5',
                                                                        '#003F5C'
                                                                      ],
                                                                      borderWidth: 1
                                                                    }
                                                                    ]
                                                                  },
                                                                  options: {
                                                                    //cutoutPercentage: 40,
                                                                    responsive: true,
                                                                    elements: {
                                                                                  center: {
                                                                                    text: '300',
                                                                                    color: '#FF6384', // Default is #000000
                                                                                    fontStyle: 'Arial', // Default is Arial
                                                                                    sidePadding: 20, // Default is 20 (as a percentage)
                                                                                    minFontSize: 25, // Default is 20 (in px), set to false and text will not wrap.
                                                                                    lineHeight: 25 // Default is 25 (in px), used for when text wraps
                                                                                  }
                                                                                }

                                                                  }
                                                                });


                                                    </script>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/js/Chart.js-2.9.4/dist/Chart.min.js"></script>
{% endblock javascripts %}
